/*
 * HTML5 ✰ Boilerplate (SCSS Edition)
 *
 */

@import "bourbon/bourbon";
@import "marcotte-grid";
@import "preboot";
@import "normalize";
@import "boilerplate";
@import "wordpress";

/* =============================================================================
   Primary styles
   Author:
   ========================================================================== */

body {
  @include grid_container;
  .home {
  }
  .blog {
  }
  .single {
  }
  .category {
  }
  .archive {
  }
  .date {
  }
  #container {
    header#page-header{
      hgroup {
        h1 {
        }
        h2 {
        }
      }
      nav {
      }
    }
    div#main {
      section#content {
        @include grid(16);
        float: left;
        article {
          header {
          }
        }
      }
      section#secondary {
        @include grid(8);
        float: right;
      }
    }
    footer#page-footer {

    }
  }
}


/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}

@import "print";