// *****************************************************************************
// HEADER
// *****************************************************************************

#page-header {

  h1 {
    margin: 0;
    padding: 0;
  } // h1

  h2 {
  } // h2

  #access {

    .assistive-text {
      @extend %visually-hidden;
    } // .assistive-text

    .skip-link {
      @extend %visually-hidden;
    } // .skip-link

    .menu {

      li {
        @include inline-block;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        } // &:last-child

      } // li

    } // .menu

  } // #access

} //#page-header
