// *****************************************************************************
// HEADER
// *****************************************************************************

header#page-header {
  hgroup {
    h1 {
    } // h1
    h2 {
    } // h2
  } // hgroup
  nav#access {
    div.skip-link {
      height: 0;
      margin: 0;
      padding: 0;
      visibility: hidden;
    } // div.skip-link
    div.menu {
      ul {
        li {
          @include inline-block;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          } // &:last-child
        } // li
      } // ul
    } // div.menu
  } // nav#access
} //header#page-header